<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Start Window -->
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>by.vsu.controllers.StartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Client -->
    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>by.vsu.controllers.ClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/client/*</url-pattern>
    </servlet-mapping>

    <!-- Category -->
    <servlet>
        <servlet-name>categoryServlet</servlet-name>
        <servlet-class>by.vsu.controllers.CategoryServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>categoryServlet</servlet-name>
        <url-pattern>/categories/*</url-pattern>
    </servlet-mapping>

    <!-- Employee -->
    <servlet>
        <servlet-name>employeeServlet</servlet-name>
        <servlet-class>by.vsu.controllers.EmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>employeeServlet</servlet-name>
        <url-pattern>/employees/*</url-pattern>
    </servlet-mapping>

    <!-- Item -->
    <servlet>
        <servlet-name>itemServlet</servlet-name>
        <servlet-class>by.vsu.controllers.ItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>itemServlet</servlet-name>
        <url-pattern>/items/*</url-pattern>
    </servlet-mapping>

    <!-- Transaction -->
    <servlet>
        <servlet-name>transactionServlet</servlet-name>
        <servlet-class>by.vsu.controllers.TransactionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>transactionServlet</servlet-name>
        <url-pattern>/transactions/*</url-pattern>
    </servlet-mapping>
</web-app>

<!--

<servlet> — говорит Tomcat: “вот класс, который является сервлетом”.

<servlet-mapping> — связывает путь /hello с этим классом.

-->