<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>by.vsu.controllers.StartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>by.vsu.controllers.ClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/client/*</url-pattern>
    </servlet-mapping>


</web-app>

<!--

<servlet> — говорит Tomcat: “вот класс, который является сервлетом”.

<servlet-mapping> — связывает путь /hello с этим классом.

-->